/* ACTIVE ORDER */

.ActiveOrder {
  grid-column: col / span 2;
  grid-row: row 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
}


/* MENU */

.Menu {
  background-color: #555;
  border-radius: 0 0 12px 0;
  grid-column: 1;
  grid-row: 1;
  padding: 6px;
}

.Menu .heading {
  text-transform: uppercase;
}

.MenuList {
  display: flex;
  flex-wrap: wrap;
}

.MenuItem {
  padding: 5px;
  width: 25%;
}

.MenuItem figure {
  background-color: #e5e5e5;
  background-repeat: no-repeat;
  background-size: 400%;
  border-radius: 8px;
  box-shadow: 0 0 40px rgba(255,255,255,.4) inset;
  color: #353535;
  cursor: pointer;
  height: 140px;
  justify-content: center;
  padding: 10px;
  transition: all .2s;
}

.MenuItem figure:hover,
.MenuItem figure:focus,
.MenuItem figure:active {
  background-color: rgba(255,255,255,.65);
  box-shadow: 0 0 20px rgba(0,0,0,.2) inset;
}

.MenuItem figure strong {
  display: block;
}

.MenuItem .cheeseburger {
  background-position: 40px -165px;
}

.MenuItem .hotdog {
  background-position: -90px -165px;
}

.MenuItem .fries {
  background-position: -260px -172px;
}

.MenuItem .chicken {
  background-position: -412px -180px;
}

.MenuItem .coffee {
  background-position: 40px 24px;
}

.MenuItem .soda {
  background-position: -110px 28px;
}

.MenuItem .beer {
  background-position: -420px 30px;
}

.MenuItem .icecream {
  background-position: -415px -366px;
}


/* TICKET */

.Ticket {
  grid-column: 2;
  grid-row: 1;
  padding-left: 10px;
  padding-right: 10px;
}

.Ticket .heading {
  border-bottom: 1px solid #555;
  color: #555;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.TicketItem {
  display: flex;
  list-style: none;
}

.TicketItemName,
.TicketItemPrice,
.TicketItemQty {
  background-color: #fff;
  border-radius: 4px;
  color: #555;
  font-weight: 700;
  margin: 5px;
  padding: 10px 15px;
}

.TicketItemName {
  flex-grow: 2;
}

.TicketItemQuantity,
.TicketItemMinus,
.TicketItemPlus {
  background-color: #EFCE5D;
  border-radius: 4px;
  color: #353535;
  display: inline-block;
  font-size: 36px;
  line-height: 24px;
  margin: 5px;
  padding: 10px;
  text-align: center;
  width: 44px;
}

.TicketItemQuantity:hover,
.TicketItemMinus:hover,
.TicketItemPlus:hover {
  background-color: #E2BE57;
}

.TicketItemDelete {
  background-color: #CE4E4E;
  border-radius: 4px;
  color: #f5f5f5;
  display: inline-block;
  font-size: 36px;
  line-height: 24px;
  margin: 5px;
  padding: 10px;
  text-align: center;
  width: 44px;
}

.TicketItemDelete:hover {
  background-color: #B2474D;
}
