/* ORDERS */

.Orders {
  display: flex;
  flex-direction: column;
  grid-column: col 2;
  grid-row: row;
  padding: 10px;
}

.Orders .heading {
  border-bottom: 1px solid #555;
  color: #555;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.Order {
  cursor: pointer;
  display: flex;
  list-style: none;
}

.OrderName {
  background-color: #EFCE5D;
  border-radius: 4px;
  color: #333;
  display: flex;
  flex-grow: 2;
  justify-content: space-between;
  margin: 5px;
  padding: 10px;
}

.OrderName:hover {
  background-color: #E2BE57;
}

.Order:last-child .OrderDelete {
  display: none;
}

.OrderDelete {
  background-color: #CE4E4E;
  border-radius: 4px;
  color: #f5f5f5;
  display: inline-block;
  font-size: 36px;
  line-height: 24px;
  margin: 5px;
  padding: 10px;
  text-align: center;
  width: 44px;
}

.OrderDelete:hover {
  background-color: #B2474D;
}

.OrderNew {
  background-color: #5FA866;
  border-radius: 4px;
  color: #fff;
  display: none;
  font-size: 36px;
  line-height: 24px;
  margin: 5px;
  padding: 10px;
  text-transform: uppercase;
  text-align: center;
  width: 44px;
}

.OrderNew:hover {
  background-color: #4C8354;
}

.Order:last-child .OrderNew {
  display: block;
}
