.Cam {
  background-color: #444;
  border-radius: 5px;
  color: #fff;
  grid-column: col 4 / span 2;
  grid-row: row 2;
  position: relative;
}

.Cam::before {
  position:absolute;
  content:'';
  z-index:-1;
  top:0;bottom:0;left:0;right:0;
  background-image: linear-gradient(22.5deg, #000 25%, transparent 25%, transparent 50%, #000 50%, #000 75%, transparent 75%, transparent);
  background-size: 4px 4px;
}

.Cam::after {
  content: "Camera 1";
  display: block;
  position: absolute;
  right: 1rem;
  top: .5rem;
}

.CamVideo {
  filter: blur(1px) brightness(.9) contrast(1.1) grayscale(.75) opacity(.65) saturate(1.8) sepia(.75);
  width: 100%;
}
